@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat:wght@100;300;500;600&display=swap");
html, body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #F0BD5B;
}

body {
  position: relative;
}

.modal {
  width: 400px;
  height: 200px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -100px;
  border-radius: 2rem;
  font-family: "Creepster", cursive;
  text-align: center;
}

.modal_text {
  font-size: 3rem;
  margin: 1.5rem;
  text-stroke: 1px yellow;
  -webkit-text-stroke: 1px yellow;
}

#success_modal {
  background: #FCA311;
  display: none;
}

#shield {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: black;
  opacity: 0.5;
  display: none;
}

header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  align-items: center;
}

.button {
  border: 0;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  cursor: pointer;
}

#restart {
  background: #FCA311;
  color: #fff;
}

#restart:hover {
  background: #14213d;
  color: #FCA311;
}

#new_game, #replay {
  background: #E5E5E5;
  color: #14213d;
}

#new_game:hover, #replay:hover {
  background: #14213d;
  color: #FCA311;
}

.title {
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  color: #14213d;
}

.details {
  margin: 0 5rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-around;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.dynamic_text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #14213d;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.card {
  width: 5em;
  height: 5em;
  background-color: transparent;
  border-radius: 50%;
  margin: 0.5rem;
  text-align: center;
  perspective: 1000px;
}

img {
  width: 3em;
}

.card:hover {
  cursor: pointer;
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.front {
  background: #14213d;
}

.back {
  transform: rotateY(180deg);
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  color: gray;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  text-decoration: underline;
  color: #FCA311;
}