{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Search input</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style_search.css' %}">
</head>
<body>
<div class="container_6  col-xs-12 col-md-12 col-lg-12">

    <form method="post">
        {% csrf_token %}
        <div class="search">

            <input name="q" type="search" type="text" autocomplete="off" required/>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 1000 150">
                <path class="path" fill="none"
                      d="M924.4 85.2c-19.5 19.5-50.8 19.7-70.3 0-19.3-19.4-19.3-51 .3-70.6 19.5-19.5 51-19.4 70.6 0 19.3 19.7 19.3 50.8-.5 70.6l35.4 35.3H0"/>
            </svg>

        </div>
        <div  class="col-xs-12 col-md-12 col-lg-4 container" style="margin-left: 5%;
margin-top: 25%;
display: flex;
flex-flow: row wrap;
">
            {% for el in menu %}
                <figure>
                    <p align="center"><img src="{{ el.photo.url }}" width="200"></p>
                    <figcaption>
                        <a href="{% url 'home' %}#{{ el.title }}" style="text-decoration: none;" ><h1 class="names" align="center" style="color:#CF8121">{{ el.title }}</h1></a>

                    </figcaption>
                </figure>
            {% endfor %}
    </form>
</div>


</div>

<!-- partial -->
<script src="./script_search.js"></script>
</body>
</html>