html, body {
  background: #F0BD5B;
}

.search {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 10%;
  left: 40%;
  right: 60%;
  bottom: 0;
  overflow: hidden;
}
.search svg {
  width: 300px;
  transform: translate3d(-125px, 0, 0);
  transition: 0.5s;
  pointer-events: none;
}
.search input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #f38504;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 10px 55px 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.search input::-moz-selection {
  background: rgba(0, 0, 0, 0.3);
}
.search input::selection {
  background: rgba(0, 0, 0, 0.3);
}
.search input:valid, .search input:focus {
  cursor: auto;
}
.search input:valid + svg, .search input:focus + svg {
  transform: translate3d(0, 0, 0);
}
.search input:focus {
  cursor: auto;
  outline: none;
}
.search input:focus + svg .path {
  stroke-dasharray: 961, 363;
  stroke-dashoffset: -363;
}
.search .path {
  stroke-dasharray: 363, 961;
  stroke-dashoffset: 0;
  stroke: #f38504;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: 0.5s;
}