body {
    margin: 0px;

}


header {
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    width: 100%;
}
header .container {
    margin: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
}
header .container .logo_container {
    width: 100px;
    background-size: cover;
    background-position: center center;

}


nav ul {
    padding: 0px;
    min-width: 250px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline-block; /*один из способов разместить элементы в строку*/

}

header button {
    background-color: #FFFFFF;
    font-size: 40px;
    border: 2px solid #FFFFFF;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    color: #000000;
}


header button:hover {
    background-color: #f38504;
    color: #FFFFFF;
    border: 2px solid #f38504;
    box-shadow: 0 5px #666;
}

header button:active {
    box-shadow: 0 0px #FFFFFF;
    transform: translateY(4px);
}

/* main block*/
.container_1 {
    padding-top: 80px;
}

.main .container_2 {
    background: url("https://i.pinimg.com/originals/a4/6b/7c/a46b7caea430c474ff792246a715c90c.jpg");
    min-height: 364px;
    background-size: cover;
    background-position: center center;
}

.block {
    margin: 150px 0;
    padding: 0px 30px 0px 30px;
    font: 16px sans-serif;
    background: #FFFFFF;
    content: " ";
    border-radius: 15px;

}

.block h1 {
    padding-top: 10px;
    text-align: center;
}

.container_3 {
    display: flex;
    flex-direction: column;
}

.container_4 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.block button {
    background-color: black;
    color: #FFFFFF;
    border-radius: 15px;
}

.container_5 {
    padding-right: 45px;
    padding-left: 45px;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    width: 100%;
    align-items: center;
}

.container_5 a {

    text-decoration: none;
    color: gray;
    transition-duration: 0.3s;
}

.container_5 a:hover {
    font-size: 24px;
    color: #f38504
}

.h3_box {
    padding: 0px;
}

.container_6 {
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.row h3 {
    padding-left: 45px;
}


.footer {

    max-width:100%;
    min-height: 200px;
    background: #262626;
}

.footer:after {
    clear: both;
}

.footer_left{
    box-sizing: border-box;
    max-width: 100%;
    min-height: 200px;


}

.footer_left:after {
    clear: both;
}

/* Контейнер должен быть расположен относительно: */




.lang-selector {
    font-size: 0.8rem;
    padding: 10px 70px 10px 50px;
    width: 14rem;
    background: #3B3B3B;
    color: #FFFFFF;
    border: 1px solid #3B3B3B;
    margin-bottom: 10px;
}
.lang-button {
    font-size: 0.8rem;
    padding: 10px 50px 10px 20px;
    width: 1rem;
    background: #3B3B3B;
    color: #FFFFFF;
    border: 1px solid #3B3B3B;
    margin-bottom: 10px;
}

/*192 37.2*/
.footer_container_2 img {
    padding-left: 30px;
    max-height: 37.2px;
    max-width: 192px;
    border-radius: 0px;
    padding-bottom: 10px;
}
.footer_center{
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.footer_right{
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    padding-left: 5px;
}

.footer_main{
    padding:55px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




/* Регистрация */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #f38504;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Регистрация end*/

col-xs-12 col-md-12 col-lg-4 container_menu button .button_add_in_basket{
    outline: none;
    border: none;
    border-radius: 9999px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
        box-sizing: border-box;
    background-color: rgb(255, 240, 230);
    color: rgb(209, 87, 0);
}


/*popup window*/

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}
.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    background: #ffffff;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 60px;
}
.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
