{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}<title>{% trans '🍕Вход' %}</title>{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div style="min-height: calc(100vh - 460px); display: flex;justify-content: center;align-items: center;">
            <h1 style="color:gray;text-align-all: center;font-size: xxx-large;">
                {% translate "Вы уже вошли в аккаунт:" %}{{ user.username }}
            </h1>


        </div>
        <div style="min-height: calc(100vh - 460px); display: flex;justify-content: center;align-items: center;">
            <a href="{% url 'logout' %}">
                <button style="
    background-color: rgb(255, 240, 230);
    color: rgb(209, 87, 0);outline: none;
    border: none;
    border-radius: 9999px;
    text-align: center;
    font-weight: 500;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    flex: 0 0 auto;
    height: 100px;
    min-width: 120px;"><h1 style="color:#CF8121">{% trans 'Выйти из аккаунта' %}</h1></button>
            </a>
        </div>
    {% else %}
        <form action="{% url 'login' %}" method="post">
            <div class="container">
                <h1 style="color:#CF8121;">{% trans 'Вход' %}</h1>
                <p style="color: gray">{% trans 'Введите данные для входа в аккаунта' %}</p>
                <hr>
                {% if form.errors %}
                    <p>{{ form.errors.error }}</p>
                {% endif %}
                {{ form }}
                {% csrf_token %}
                <button type="submit" class="registerbtn">{% trans 'Войти' %}</button>
            </div>
            <br>
            <div class="container signin" style="display: flex;justify-content: space-around; height:60px;">
                <h4 style="color:gray">{% trans 'Забыли пароль?' %} <a href="{% url 'password_reset' %}"
                                                                       style="color:#CF8121;">{% translate "Сменить Пароль" %}</a>.
                </h4>
                <h4 style="color:gray">{% trans 'У вас нет аккаунта?' %} <a href="{% url 'register' %}"
                                                                            style="color:#CF8121;">{% trans 'Зарегистрироваться' %}</a>.
                </h4>
            </div>

        </form>
    {% endif %}
{% endblock %}
