{% extends 'main/base.html'%}
{% load i18n %}

{% block title %}<title>{% trans '🍕Регистрация'%}</title>{% endblock %}

{%block content%}


<form action="{%url 'register'%}"method="post">
    {% csrf_token %}
    <div class="container">
        <h1 style="color:#CF8121;">{% trans 'Регистрация'%}</h1>
        <p style="color: gray">{% trans 'Введите и подтвердите данные почты для создание аккаунта'%}</p>
        <hr>

        {{form.as_p}}{% csrf_token %}

        <label class="anim">
            <input type="checkbox" class="checkbox" name="confirmation">
            <span>{% trans 'Создавая учетную запись, вы соглашаетесь с нашими'%} <a href="#" style="color:#CF8121;">{% trans 'Условия и конфиденциальность'%}</a>.</span>
        </label>
        <div class="clear"></div>


    <button type="submit" class="registerbtn">{% trans 'Зарегестрироваться'%}</button>
    </div>

    <div class="container signin">
        <p>{% trans 'У вас уже есть аккаунт?'%}<a href="{%url 'login'%}" style="color:#CF8121;">{% trans 'Войти'%}</a>.</p>
    </div>
</form>

{%endblock%}
