{% extends 'main/base.html' %}
{% load i18n %}


{% block title %}
    <title>{% trans '🍕 Пицца Казахстан' %} | Қазақстандағы №1 пицца жеткізу қызметі</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class='container_2 col-xs-12 col-md-12 col-lg-12'>
            <div class="col-xs-12 col-md-9 col-lg-7">
                <div class="block">
                    <div class="container_3">
                        <h1>🕔🕙🕚🕛</h1>
                        <div class="container_4">
                            {% if request.user.is_superuser %}
                                <p>{% translate 'Для админа и рабочего персонала' %}</p>
                                <button  style="background-color:#CF8121;border-color:#CF8121; "><a href="/admin"
                                           style="text-decoration: none; color: white;">{% translate 'Перейти в админку' %}</a>
                                </button>
                                <button >
                            <a href="{% url 'game' %}"
                                           style="text-decoration: none; color: white;">{% translate 'Скучно ждать?' %}</a>
                                </button>
                            {% else %}
                                <p>{% translate 'Среднее время приготовления' %}</p>
                                <button>
                            <a href="{% url 'game' %}"
                                           style="text-decoration: none; color: white;">{% translate 'Скучно ждать?' %}</a>
                                </button>
                                <button><a href="#choose_category"
                                           style="text-decoration: none; color: white;">{% translate 'Выбор категории' %}</a>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_5">
            <a name="choose_category" href="#pizza"><h2>{% trans '🍕Пиццы' %}</h2></a>
            <a href="#burger"><h2>{% translate '🍔Бургеры' %}</h2></a>
            <a href="#salads"><h2>{% translate '🥗Салаты' %}</h2></a>
            <a href="#drinks"><h2>{% translate '🍹Напитки' %}</h2></a>
            <a href="#dessert"><h2>{% translate '🎂Десерты' %}</h2></a>
        </div>


        {% for name in which_product %}
            <div class="h3_box col-lg-12 col-xs-12 col-md-12"><a name="{{ name }}">
                <h1 align="center" style="color:#696969">
                    <hr>
                </h1>
            </a></div>
            <div class="container_6  col-xs-12 col-md-12 col-lg-12">

                {% for el in menu %}
                    {% if el.which_product == name %}

                        <div class="col-xs-12 col-md-12 col-lg-4 container">

                            <div class="container_menu" style="border-style: groove; border-width: 1px;" align="center">
                                <form method="POST">
                                    {% csrf_token %}
                                    <figure>
                                        <p align="center"><img src="{{ el.photo.url }}" width="200"></p>
                                        <figcaption>
                                            <a name="{{ el.title }}"><h1 class="names" align="center" style="color:#CF8121">{{ el.title }}</h1></a>
                                            <p class="roles" align="center"
                                               style="width: 50%;font-family: serif;color: gray;">{{ el.text }}</p>
                                            <p class="roles" align="center"
                                               style="width: 50%;font-family: serif;color: gray;">{% translate 'Цена тг от:' %} {{ el.price }}</p>
                                            <p>

                                                <button style="
    background-color: rgb(255, 240, 230);
    color: rgb(209, 87, 0);outline: none;
    border: none;
    border-radius: 9999px;
    text-align: center;
    font-weight: 500;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    flex: 0 0 auto;
    height: 40px;
    min-width: 120px;" type="submit" value="{{ el.title }}" name="add_in_basket"/>
                                                Добавить</button>


                                            </p>
                                        </figcaption>
                                    </figure>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}


    </div>

{% endblock %}
